#
# SSHSIGN EXAMPLE CONFIG
#
#  Configure and place in `/etc/sshca/sshca.yaml`
#

# Ensure this key is protected!
#signing_key: /etc/sshca/ca

# Log file
#log: /var/log/sshca/sshca.log

# Revoked keys file
#revoked_keys: /var/lib/sshca/revoked_keys

# Archive for signed certs
#archive: /var/lib/sshca/archive

# Profile definitions. Defaults are shown commented out.
profiles:
  admin:
    principals:
      - admin
    validity: +52w
    options:
      - permit-agent-forwarding
      - permit-port-forwarding
      - permit-pty
      - permit-X11-forwarding

  borgbackup:
    principals:
      - borgbackup
    validity: +260w
    # If the options list is not defined the default ssh-keygen options will
    # be used for a given key. Defining an options list always ensures the
    # default options are cleared first so only the listed options are used,
    # so an empty list can be used to ensure no options are added.
    options: []
    generate_key:
      #type: ed25519
      filename: /path/to/sshkey

      # There is also support for template filenames
      #
      # $i: certificate identity
      #
      # Example:
      #
      #   filename: /path/to/$i

      # Create missing directories in filename path
      #create_dirs: false

  host:
    host_key: true
    validity: +52w
    generate_key:
      type: ed25519
      filename: /path/to/hostkey
      create_dirs: true
